<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Blog</title>
    <%- include('../partials/head') %>
    <!-- Include Bootstrap Multi-Select CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" rel="stylesheet">

</head>
<body>
    <%- include('../partials/navbar') %>
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-md-12 text-center">
                <h3>Edit Blog</h3>
            </div>
            <div class="col-md-6">
                <form action="/blog/update/<%= locals.blog.slug %>" method="post" id="addBlogForm" enctype="multipart/form-data" class="form">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" name="title" id="title" value="<%= locals.blog.title %>" class="form-control" placeholder="Title" required>
                        <input type="hidden" name="slug" id="slug" value="<%= locals.blog.slug %>">
                        <input type="hidden" name="oldSlug" value="<%= locals.blog.slug %>">
                    </div>
                    <div class="form-group">
                        <span id="slugSpan" class="mt-2"><%= locals.blog.slug %></span>
                    </div>
                    <div class="form-group">
                        <label for="name">Description</label>
                        <textarea name="description" id="description" class="form-control" rows="3" required><%= locals.blog.description %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="name">Content</label>
                        <textarea name="content" id="content" class="form-control" rows="10" required><%= locals.blog.content %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="name">Category</label>
                        <select id="category" class="form-control" name="category" required>
                            <option value="">Select</option>
                            <% locals.categories.forEach(category => { %>
                                <option value="<%= category %>" <%= locals.blog.category === category ? 'selected' : '' %> ><%= category %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name">Tags</label>
                        <select id="tags" class="selectpicker form-control" name="tags" multiple data-live-search="true">
                            <% locals.tags.forEach(tag => { %>
                                <option value="<%= tag %>" <%= locals.blog.tags.includes(tag) ? 'selected' : '' %> ><%= tag %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name">Cover Image</label>
                        <input type="file" name="displayImage" class="form-control">
                    </div>
                   
                    <div class="form-group mt-5">
                        <button type="submit" class="btn btn-success w-100">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('../partials/script') %>
    <script src="/public/js/custom-blog.js"></script>
    <!-- Include Bootstrap Multi-Select JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>

    <script>
        // Initialize Bootstrap Multi-Select
        $('.selectpicker').selectpicker();
    </script>
</body>
</html>